name: Check for Broken Links

on:
  schedule:
    - cron: '0 3 * * 0'
  workflow_dispatch:

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Check links with Lychee
        uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose ./data.json
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}